body{
    background-color: rgba(100, 148, 237, 0.336);
}

div{
    border: brown;

}
h1{
    color: crimson;
}
h2{
    color: darkgoldenrod;
}
h3{
    color: rgb(157, 162, 149);
}
h4{
    color: deeppink;
}

H5{
    color: gold;
}
h6{
    color: indigo;
}

h7{
    color: lawngreen;
    font-size: xx-large;
}